.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: #F2D09A;
  background-image: linear-gradient(45deg, #F2D09A 0%, #FC8282 100%);
}
body {
  height: 100%;
  background-color: #F2D09A;
  background-image: linear-gradient(45deg, #F2D09A 0%, #FC8282 100%);
}